<h2>Todo page</h2>

{{#if todos.length}}

{{#each todos}}
    <li class="todo">
        <form action="/complete" method="post">
        <label>
            {{#if completed}}
            <input type="checkbox" checked name="completed">
            <span class="completed">{{title}}</span>
            {{else}}
            <input type="checkbox">
            <span>{{title}}</span>
            {{/if}}

            <input type="hidden" value="{{_id}}" name="id">

            <button class="btn btn-small" type="submit">save</button>
        </label>
        </form>
    </li>
{{/each}}

{{else}}
<p>No todos!</p>
{{/if}}